@model QuestCreateFormModel
@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <form asp-area="Qests" enctype="multipart/form-data" asp-controller="Quest" asp-action="Add" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Име</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Description">Описание</label>
            <input id="description" asp-for="Description" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="DateOfQuest">Дата на инициативата</label>
            <input id="description" asp-for="DateOfQuest" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Image">Снимка</label>
            <input type="file" asp-for="Image">
        </div>
        <img src="#" id="img" hidden />
        <button type="submit" class="btn btn-default">Изпрати</button>
    </form>
</div>

@section Scripts{
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#description'
        });
    </script>
}

